body {
  background-color: rgb(48, 55, 65);
}

$num-elements: 12;
$angle-between-elements: (360 / $num-elements);

$big-diameter: 400px;
$small-diameter: $big-diameter/10;

$pointers: (
  hour: (
    length: $big-diameter/4,
    width: 6px,
  ),
  minute: (
    length: $big-diameter/3,
    width: 6px,
  ),
  seconds: (
    length: $big-diameter/3,
    width: 4px,
  ),
);

.clock_radius {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: $big-diameter;
  width: $big-diameter;
  border-radius: 50%;
  background-color: rgb(176, 176, 206);
}

.circular_text {
  font-size: 40px;
  transform: rotate(180deg);
}

.hour {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -($small-diameter/2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: $small-diameter;
  height: $small-diameter;
  border: solid 1px;
  border-radius: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  user-select: none;
}

@for $i from 1 through $num-elements {
  .hour:nth-child(#{$i}) {
    transform: rotate($i * $angle-between-elements * 1deg)
      translate(0px, -$big-diameter/6 * 2.5)
      rotate(-$i * 30deg);
  }
}

.center {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background-color: rgb(8, 39, 59);
}

.buttons_box {
  position: absolute;
  left: 10%;
  top: 50%;
  translate: 0% -50%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

@mixin pointer($length, $width, $color) {
  position: absolute;
  border-radius: 50% 50% 3px 3px;
  transform: rotate(0deg);
  width: $width;
  height: $length;
  left: (($big-diameter - $width)/2);
  background-color: $color;
  transform-origin: bottom center;
}

@each $pointer, $values in $pointers {
  .#{$pointer}_pointer {
    @include pointer(
      map-get($values, length),
      map-get($values, width),
      if($pointer == seconds, rgb(196, 22, 10), rgb(8, 39, 59))
    );

    @if $pointer == hour {
      top: (map-get($values, length));
    }
    @if $pointer == minute {
      top: (map-get($values, length) / 2);
    }
    @if $pointer == seconds {
      top: (map-get($values, length) * 0.7);
      transform-origin: center (map-get($values, length) * 0.8);
    }
  }
}
